nnoremap <SPACE> <Nop>

let mapleader = "\<Space>"

set NERDTree
set incsearch
set commentary
set number relativenumber
set smartcase
set wrapscan
set gdefault
set history=10000
set scrolloff=5 sidescrolloff=10
set clipboard=unnamedplus,unnamed,ideaput
set multiple-cursors
set surround
set ideajoin
set highlightedyank
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(50, 200, 190, 155)"


nmap <leader>fg <Action>(FindInPath)
nmap <leader>rf <Action>(ReformatCode)
nmap <leader>rr <Action>(Run)
nmap <leader>ff <Action>(Find)
nmap <leader>fp <Action>(GotoAction)
nmap <leader>fe <Action>(GotoNextError)
nmap <leader>si <Action>(QuickJavaDoc)
nmap <leader>se <Action>(ShowErrorDescription)
nmap zc <Action>(CollapseRegionRecursively)
nmap zo <Action>(ExpandRegionRecursively)
nmap <leader>cc <Action>(CodeMenu)
nmap <leader>ca <Action>(ShowIntentionActions)

" Tabbing
nmap <leader>p <Action>(PinActiveEditorTab)
nmap <leader>up <Action>(UnPinActiveEditorTab)
nmap <leader>1 <Action>(GoToTab1)
nmap <leader>2 <Action>(GoToTab2)
nmap <leader>3 <Action>(GoToTab3)
nmap <leader>4 <Action>(GoToTab4)
nmap <leader>5 <Action>(GoToTab5)
nmap <leader>6 <Action>(GoToTab6)
nmap <leader>7 <Action>(GoToTab7)
nmap <leader>8 <Action>(GoToTab8)
nmap <leader>9 <Action>(GoToTab9)
nmap <leader>th <Action>(MoveTabLeft)
nmap <leader>tl <Action>(MoveTabRight)

" Git Window
nmap <leader>gg <Action>(VcsGroups)

" Window Stuff
nmap <leader>xx <Action>(CloseContent)
nmap <leader>xp <Action>(CloseAllUnpinnedEditors)
nmap <leader>xw <Action>(HideAllWindows)

nmap <C-l> <C-w>l
nmap <C-h> <C-w>h

nmap <leader><leader> <Action>(GotoFile)
nmap <leader>e :NERDTreeFocus<CR>